*{
  font-family: Arial, Helvetica, sans-serif;
  box-sizing:border-box;
}

body {
    background: url("https://images4.alphacoders.com/936/936813.png");
    background-repeat:no-repeat;
    height: auto;
    max-width: 100%;
    height: 1020px;
    background-size: 100% 100%;
    position: relative;
  }
  
  h1{
    margin-top: 50px;
  }

  .startingContainer{
    background-color: white;
    opacity: .7;
    border-radius: 10px;
    max-height: 100%;
    width: 100%;
  }

  .startPage, .generateQuiz, .finalPage {
    display:block;
    margin-left:auto;
    margin-right:auto;
    height: 500px;
    width: 75%;
    /* background-color:white;
    opacity:.7; */
    border-radius: 15%;
  }

  .question, .question1, .question0, .question2, .question3, questionTitle{
    text-align: center;
  }

  .question1, .question0, .question2, .question3{
    width:100px;
    height:100px;
    text-align:center;
  }

  .inputContainer{
    background-color:white;
    opacity: .7;
    border-radius: 15px;
    width: 300px;
    height: 100px;
    display:inline-block;
    margin:10px;
  }

  /* .inputContainer:hover{
    opacity: 1;
  } */

  .questionTitle{
    height: 100px;
    vertical-align:middle;
    line-height: 3.3;
    background-color: white;
    opacity: .7;
    border-radius: 30px;
    margin-top: 5%;
    text-align:center;
    font-size:30px;
    margin-bottom:50px;
  }

  .col-sm-12, .scoreBoard, .correctAnswer{
    text-align: center;
  }

  input{
    visibility: hidden;
  }

  label {
    cursor: pointer;
  }

  .guess:checked + label {
    opacity: 1;
  }

input[type="radio"]{
  margin-top: 45px;
}

input[type="radio"]:checked + label{
  background-color: black;;
  color:white;
}

.scoreBoard, .correctBoard, .incorrectBoard{
  margin: 0px 10px 0px 10px;
  display: inline-block;
  margin-right: auto;
  margin-left:auto;
  background-color: white;
  opacity: .7;
  height: 50px;
  padding-top: 17px;
  width:100px;
  border-radius: 15px;
}

.correctAnswer{
  margin-top: 30px;
  background-color: white;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  opacity: .7;
}

.finalPage{
  margin-left:auto;
  margin-right:auto;
  text-align:center;
}

.finalPic{
  height: 500px;
  width:500px;
  margin-top: 50px;
}

.finalStatement{
  height: 50px;
  max-width: 50%;
  border-radius:10px;
  background-color:white;
  opacity:.7;
  text-align:center;
  margin-left:auto;
  margin-right:auto;
  padding-top:17px;
}

startingContainer p {
  width: 100%;
}

.hidden {
  display: none;
}

.checkAnswer, .nextQuestion, .reset{
  display: block;
  margin-left:auto;
  margin-right: auto;
}

@media only screen and (max-width: 592px) {
  .question {
      font-size: 16px;
  }
}